{
    "presets": [
        ["env", { "modules": false }],
        "stage-2"
    ],
    "ignore": [
        "./vendor/TComm-mini.js"
    ],
    "plugins": ["transform-runtime"],
    "comments": false
}
